form {
    display: flex;
    flex-wrap: wrap;
    justify-tracks: center;
    padding: 10px;
  }
.fileInput {
  width: 97%;
  margin: 10px 0;
  }
.formInput {
  margin: 10px;
}
.buttonSubmit {
  margin: 10px 0px;
  }
